$queryTypes: (
  RUNNING: #c084fc,
  TRANSACTION: #c2855a,
  DQL: #4ade80,
  OTHER: #9aa0b0,
  DML: #facc15,
  DDL: #fb923c,
  UNKNOWN: #22d3ee,
  DCL: #f472b6,
  SESSIONSTART: #fbbf80,
  User: #c2855a,
  KycTransaction: #4ade80,
  ComplianceAnalysis: #9aa0b0,
  Chargeback: #facc15,
  Business: #fb923c
);
